<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/webjars/font-awesome/5.8.1/css/all.min.css" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="col-md-5 p-2 mx-auto text-center">
            <h2 style="font-size: 20px">Add Meeting Participants</h2>
        </div>
        <form method="post">
            <div class="form-group">
                <div class="container" style="margin-top: 25px">
                    <input class="form-control" type="number" placeholder="Number of participants"
                           id="numberOfParticipants" min="2" style="width: 100%">
                </div>
            </div>
            <div class="form-group">
                <div class="container" style="margin-top: 25px">
                    <div><label for="newParticipants">Add Participants</label></div>
                    <input class="form-control" list="participants" id="newParticipants"
                           placeholder="<Add new participants>" style="width: 100%">
                    <datalist id="participants">
                        <option th:each="user, iterStat : ${users}" th:value="${user.getFullName()}"></option>
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <div class="container" style="margin-top: 25px">
                    <div><label for="group">Add a Group</label></div>
                    <input class="form-control" list="groups" id="group" placeholder="<Choose a group>"
                           style="width: 100%">
                    <datalist id="groups">
                        <option value="Group 5.1"></option>
                        <option value="Group 5.2"></option>
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <div class="container" style="margin-top: 25px">
                    <button class="button"
                            style="border-radius: 8px; background-color: limegreen; border: none; padding: 10px 40px; font-size: 16px; float: left">
                        Create
                    </button>
                    <button class="button"
                            style="border-radius: 8px; background-color: crimson; border: none; padding: 10px 40px; font-size: 16px; float: right ">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/webjars/jquery/3.3.1-2/jquery.slim.min.js" crossorigin="anonymous"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
