<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<head>
    <title>Roomed - Chronik</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container py-3">
        <div class="page-header">
            <h3 class="text-center">Chronik</h3>
        </div>
        <hr>
        <div class="accordion" id="accordion">
            <div class="media border-bottom pb-2 mt-1" th:each="meeting, iterStat : ${meetings}">
                <img src="static/pictures/blue_200x200.png" class="rounded-circle" alt="Blue Image"
                     style="width:50px;height:50px;">
                <div class="media-body ml-2">
                    <div data-toggle="collapse" th:data-target="${'#accordion'+ iterStat.count}">
                        <h5 class="mt-0" th:text="${meeting.getTitle()}">Meeting Title</h5>
                        <p class="small my-0" th:text="${#temporals.format(meeting.getStartAt(), 'dd.MM.yyyy HH:mm')}
                        + ' - ' + ${#temporals.format(meeting.getEndAt(), 'HH:mm')}
                        + ' | ' + ${meeting.getDuration() + 'min'}">DD.MM.YYYY HH:MM | ??min</p>
                        <div th:each="meetingRoom : ${meeting.getRooms()}">
                            <p class="small my-0" th:text="${meetingRoom.getRoom().getRoomEmail() + ' | '
                        + meetingRoom.getRoom().getLocation().getName()}">Room | Location</p>
                        </div>
                    </div>
                    <div class="collapse" data-parent="#accordion" th:id="${'accordion' + iterStat.count}">
                        <span class="float-right">
                            <a th:href="@{meeting/{meeting_id}(meeting_id=${meeting.getMeetingId()})}"
                               class="btn btn-sm" style="display: inline">
                                <i class="fas fa-info fa-2x"></i>
                            </a>
                        </span>
                        <p class="small my-0" th:text="${'Owner: ' + meeting.getOwner().getFullName()}">
                            Owner: Max Mustermann
                        </p>
                        <p class="small my-0" th:text="${'Participants: ' + meeting.getParticipantsNumber()}">
                            Participants: ??
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

