<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col pt-2">
            <button type="button" class="btn btn-outline-secondary btn-sm float-right"><i class="fas fa-arrow-left"></i></button>
        </div>
    </div>
    <hr>
    <div class="row border-bottom my-1" th:each="meeting : ${meetings}">
        <div class="col-2">
            <img src="static/pictures/blue_200x200.png" class="rounded-circle" alt="Blue Image"
                 style="width:50px;height:50px;">
        </div>
        <div class="col-8">
            <h5 th:text="${meeting.getTitle()}">Tolles Treffen</h5>
            <p class="small" th:text="${#temporals.format(meeting.getStartAt(), 'dd.MM.yyyy HH:mm')} +' | '+ ${meeting.getDuration() + 'min'}">Besenkammer | Organisator: Julius Ellermann
                <br>
                02.05.2019 | 09:15 - 09:45</p>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-secondary btn-sm float-right" data-toggle="tooltip" data-placement="left"
                    title="More Info">
                <!-- Need JavaScript for tooltip toggle (see Bootstrap doc) -->
                <i class="fas fa-info fa-lg"></i>
            </button>
        </div>
    </div>
</div>
</body>
</html>

