<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-auto offset-md-4">
            <h4>Bitte überprüfen sie ihre Auswahl!</h4>
            Raum und Meeting anzeigen

            <p th:text="${'Information über Meeting: '}">Meeting Info</p>

            <!-- <h6 th:text="${room.roomName}">Raum</h6>
            <p th:text="${'Plätze: ' + room.seats + ' Ausstattung: ' + room.equipment}">Plätze und Ausstattung</p>
            <p th:text="${'sonstige Informationen: ' + room.roomID}">Raumnummer Lage Standort etc.</p>
            -->
        </div>
    </div>
    <div class="row my-1">
        <div class="col-2 offset-5">
            <a class="btn btn-primary btn-lg btn-block" th:href="@{/rooms}">Raumauswahl</a>
        </div>
    </div>
    <div class="row align-bottom my-1">
        <div class="col-2 offset-md-4">
            <a class="btn btn-danger btn-lg btn-block" th:href="@{/}">Abbrechen</a>
        </div>
        <div class="col-2">
            <a class="btn btn-success btn-lg btn-block" th:type="submit" th:href="@{/}">Bestätigen</a>
        </div>
    </div>
</div>
</body>
</html>
