<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-5 p-2 mx-auto text-center">
            <h2>Create new Meeting</h2>
            <p>Test</p>
        </div>
        <div class="container">
            <div><label for="standort">Standort</label></div>

            <input type="text" id="standort">
        </div>
    </div>
</div>
</body>
</html>


