<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html" layout:decorate="~{layout/main}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/webjars/font-awesome/5.8.1/css/all.min.css" crossorigin="anonymous">
    <style>
        input[type=time] {
            margin: 8px 0;
        }
        input[type=date]{
            margin: 8px 0;
        }
        .btn {
            padding: 14px 24px;
            border: 0 none;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-radius: 24px;
        }

        .btn-primary {
            background: #4B0082;
            color: #ffffff;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="col-md-5 p-2 mx-auto text-center">
            <h2 style="font-size: 20px">Create new Meeting</h2>
        </div>
        <form th:action="@{/addAttributes}" method="post">
            <div class="form-group">
                <div class="container">
                    <div><label for="location">Location</label></div>
                    <input list="locations" class="form-control" type="text" id="location" style="width: 100%" th:value="*{location}">
                    <datalist id="locations">
                        <option th:each="location, iterStat : ${locations}" th:value="${location.getName()}"></option>
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <div class="container" style="margin-top:25px">
                    <div class="row">
                        <div class="col-sm"><input class="form-control" type="date" name="date" id="theDate"
                                                   style="background: #4B0082; border: none; color: white;">
                            <script>
                                document.querySelector("#theDate").valueAsDate = new Date();
                            </script>
                        </div>
                        <div class="col-sm"><input class="form-control" type="time" name="time-start" id="time-start"
                                                   style="background: #4B0082; border: none; color: white"></div>
                        <div class="col-sm"><input class="form-control" type="time" name="time-end" id="time-end"
                                                   style="background: #4B0082; border: none; color: white;"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="container" style="margin-top: 25px">
                    <div><label>Room attributes</label></div>
                    <tr th:each="equipment, iterStat: ${equipments}">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" th:id="${equipment.getEquipmentID()}" th:value="${equipment.getEquipmentID()}">
                        <label class="form-check-label" th:for="${equipment.getEquipmentID()}" th:text="${equipment.getEquipmentName()}">Test</label>
                        </div>
                    </tr>
                </div>
            </div>
            <div class="form-group">
                <div class="container" style="margin-top: 25px">
                    <div><label class="form-check-label" for="addRoomAttributes">Additional room attributes</label>
                    </div>
                    <input class="form-control" list="attributes" id="addRoomAttributes"
                           placeholder="<Choose room attributes>" style="width: 100%">
                    <datalist id="attributes">
                    </datalist>
                </div>
            </div>
            <div class="container" align="center" style="margin-top: 25px">
                <div class="form-group">
                    <a th:href="@{/addParticipants}" class="btn btn-primary">
                        Add Participants
                    </a>
                </div>
                <div class="form-group">
                    <a href="/start" class="btn btn-primary">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/webjars/jquery/3.3.1-2/jquery.slim.min.js" crossorigin="anonymous"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
