<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <form th:action="@{/editProfile}"
          th:object="${createUserCmd}"
          method="post">
        <div class="row">
            <div class="col-md-5 p-2 mx-auto text-center">
                <label for="firstname">Firstname:</label>
                <input type="text" id="firstname" th:field="*{firstname}"/>
                <p>
                    <label for="lastname">Lastname:</label>
                    <input type="text" id="lastname" th:field="*{lastname}"/>
                </p>
                <p>
                    <input type="submit" value="Save&Exit"/>
                </p>
            </div>
        </div>
    </form>
</div>
</body>
</html>



