
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class = "col-md-5 p-2 mx-auto text-center">
        <p class ="input-group input-group-sm">
            <p>
                <span class = "input-group-addon">Full Name</span>
                <input type ="text" class = "form-control" placeholder = "Max Mustermann">
            </p>
            <p>
            <span class = "input-group-addon">E-mail</span>
            <input type ="text" class = "form-control" placeholder = "MaxMustermann@capgemini.com">
            </p>
            <p>
            <span class = "input-group-addon">Position</span>
            <input type ="text" class = "form-control" placeholder = "Lead Developer">
            </p>
            <p>
            <span class = "input-group-addon">Location</span>
            <input type ="text" class = "form-control" placeholder = "Düsseldorf">
            </p>
           <p>


               <span class = "input-group-addon">Select a file as a profile picture</span><p>

               <input type="file" id="my_file">
            <div id="customfileupload"></div></p>

        <a th:href="@{/profile}" class="btn btn-primary">Save & Exit</a>

            </p>


        </div>
    </div>
</div>
</body>
</html>



