<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="mt-4 mt-md-5 col-md-4 offset-md-4">
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">One more Step John!</h4>
            <p>Please verify your email address.</p>
            <hr>
            <p class="mb-0">It may take a few minutes for the email to appear in your inbox.</p>
        </div>
    </div>
</div>
</body>
</html>
