<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="mt-4 mt-md-5 col-md-4 offset-md-4">
        <div class="alert alert-secondary" role="alert">
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <h4 class="alert-heading">An error occurred while trying to reset your password.</h4>
                <a th:href="@{/recoverpw}" class="btn btn-secondary btn-block btn-sm">Try again.</a>
                <hr>
                <a th:href="@{/login}" class="btn btn-secondary btn-block btn-sm">Back to Login</a>
            </div>
            <div th:if="!${error}" class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">Password recovery successful!</h4>
                <p>Thank you for using our account recovery system.</p>
                <p>Go ahead and give it a try!</p>
                <hr>
                <a th:href="@{/login}" class="btn btn-secondary btn-block btn-sm">Back to Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
