<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="mt-4 mt-md-5 col-md-4 offset-md-4">
        <form th:method="post" th:action="@{/recoverpw}" th:object="${user}">

            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email"
                       th:errorclass="is-invalid">
                <div class="invalid-feedback" th:errors="*{email}"></div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Recover Password</button>

            <div class="form-group mt-4 mb-2">
                <a th:href="@{/login}" class="btn btn-secondary btn-block btn-sm">Back to Login</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
