<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="mt-4 mt-md-5 col-md-4 offset-md-4">
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Could not confirm Account!</h4>
            <p>The URL may be invalid or the token has already expired.</p>
            <hr>
            <p class="mb-0">To register head back to the <a th:href="@{/register}">Register Page</a></p>
        </div>

        <div th:if="!${error}" class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">Please enter a new Password!</h4>
            <p>Thank you for using our account recovery system.</p>
            <hr>

            <div>
                <form th:method="post" th:action="@{/forgotpwsetnew}" th:object="${user}">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}"
                                   placeholder="Password"
                                   th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{password}"></div>
                        </div>
                        <div class="form-group col-md-5 offset-md-2">
                            <label for="passwordConfirm">Confirm Password</label>
                            <input type="password" class="form-control" id="passwordConfirm" th:field="*{passwordConfirm}"
                                   placeholder="Confirm Password"
                                   th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{passwordConfirm}"></div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>

                    <div class="form-group mt-4 mb-2">
                        <a th:href="@{/login}" class="btn btn-secondary btn-block btn-sm">Back to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
