<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="mt-4 mt-md-5 col-md-4 offset-md-4">
        <h2 class="text-center">
            Meeting Overview
        </h2>
        <div class="card">
            <div class="card-header">
                <div class="row no-gutters">
                    <div class="col-1">
                        <i class="fas fa-signature"></i>
                    </div>
                    <div class="col-11">
                        <p class="font-weight-bold mb-0 d-inline" th:text="${meeting.getTitle()}"></p>
                        <div class="float-right d-inline" th:if="${meeting.getOwner().getUserId().equals(user.getUserId())}">
                        <a th:href="@{{meeting_id}/edit(meeting_id=${meeting.getMeetingId()})}" class="btn btn-primary btn-sm py-1 mb-1">
                            Edit
                        </a>
                        </div>
                    </div>
                </div>
                <hr class="mt-1 mb-2">
                <div class="row no-gutters">
                    <div class="col-1">
                        <i class="fas fa-hourglass-start"></i>
                    </div>
                    <div class="col-11" th:text="${#temporals.format(meeting.getStartAt().plusMinutes(timeZone), 'dd MMM yyyy HH:mm')}">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-1">
                        <i class="fas fa-hourglass-end"></i>
                    </div>
                    <div class="col-11" th:text="${#temporals.format(meeting.getEndAt().plusMinutes(timeZone), 'dd MMM yyyy HH:mm')}">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-1">
                        <i class="fas fa-clock"></i>
                    </div>
                    <div class="col-11" th:text="|${meeting.getDuration()} minutes|">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-1">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="col-11" th:text="${meeting.getParticipantsNumber()}">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div th:each="meetingRoom, iterStat : ${meeting.getRooms()}">
                    <div class="row no-gutters">
                        <div class="col-1">
                            <i class="fas fa-globe-europe"></i>
                        </div>
                        <div class="col-11">
                            <p class="mb-0 font-weight-bold d-inline"
                               th:text="${meetingRoom.getRoom().getRoomName() + ' | ' + meetingRoom.getRoom().getLocation().getName()}"></p>
                            <div class="float-right">
                                <i class="fas fa-user"></i>
                                <p class="d-inline ml-1" th:text="${meetingRoom.getParticipants()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${meeting.getOwner().getUserId().equals(user.getUserId())}">
                    <hr>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="col-11">
                            <p class="mb-0 font-weight-bold d-inline">Participants</p>
                            <div class="float-right">
                                <button type="button" class="btn btn-primary btn-sm py-1" data-toggle="modal"
                                        data-target="#addParticipant">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 px-2">
                        <table class="table table-sm mb-0">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th class="pl-2" scope="col"><i class="fas fa-signature"></i></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="participant : ${meeting.getParticipants()}">
                                <td scope="row">
                                    <i class="far fa-user" th:unless="${participant.isUser()}"></i>
                                    <i class="fas fa-user" th:if="${participant.isUser()}"></i>
                                </td>
                                <td scope="row" th:text="${participant.getFullName()}"></td>
                                <td scope="row">
                                    <form th:method="delete"
                                          th:action="@{/meeting/{id}/participant/{pId}(id=${meeting.getMeetingId()},pId=${participant.getParticipantId()})}">
                                        <button type="submit" class="btn btn-secondary btn-sm py-1 float-right">
                                            <span class="fas fa-user-times"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr th:if="${meeting.getParticipants().isEmpty()}">
                                <td scope="row"></td>
                                <td scope="row" class="text-center">No Participants.</td>
                                <td scope="row"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form th:method="post" th:action="@{/meeting/{id}(id=${meeting.getMeetingId()})}" th:object="${addParticipants}">
        <div class="modal fade" id="addParticipant" tabindex="-1" role="dialog"
             th:classappend="${#fields.hasErrors() ? 'show' : ''}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new Participants</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="lead">Existing User</p>
                        <div class="form-group">
                            <select id="regUsers" class="form-control selectpicker" data-live-search="true"
                                    th:field="*{participants}"
                                    multiple th:errorclass="is-invalid">
                                <option th:each="regUser : ${regUsers}" th:value="${regUser.getUserId()}"
                                        th:text="${regUser.getFullName()}"></option>
                            </select>
                            <div class="invalid-feedback" th:errors="*{participants}"></div>
                        </div>
                        <div class="col-10 offset-1">
                            <hr class="mt-5 mb-0">
                            <p class="text-center font-italic mb-0 lead">or</p>
                            <hr class="mt-0">
                        </div>
                        <p class="lead">External User</p>
                        <div class="form-group">
                            <label for="externalFirstName">First Name</label>
                            <input class="form-control" type="text" th:field="*{firstName}" id="externalFirstName"
                                   th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{firstName}"></div>
                        </div>
                        <div class="form-group">
                            <label for="externalLastName">Last Name</label>
                            <input class="form-control" type="text" th:field="*{lastName}" id="externalLastName"
                                   th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{lastName}"></div>
                        </div>
                        <div class="form-group">
                            <label for="externalEmail">Email</label>
                            <input class="form-control" type="email" th:field="*{email}" id="externalEmail"
                                   th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{email}"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
        $('.modal.show').modal('show');
    </script>
</th:block>
</body>

</html>
