<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-5 p-2 mx-auto text-center">
                    <h2>Insert Picture</h2>
                    <p>E-Mail:</p>
                    <p>Position:</p>
                    <p>Standort:</p>
                    <div class="col-md-5 p-2 mx-auto text-center">

                        <button type="button" class="btn btn-primary">Profile Settings</button>

                    </div>

                </div>
            </div>
        </div>
    </body>
</html>

