<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class = "text-center">
        <img src="../static/pictures/user_profile_placeholder.jpg"  th:src="@{static/pictures/user_profile_placeholder.jpg}"/>
    </div>
    <div class="row">
        <div class="col-md-5 p-2 mx-auto text-center">
            <p>
            <h2 th:text="${fullName}">Max Mustermann</h2>
            </p>
            <p>E-Mail:
                <span th:text="${email}">MaxMustermann@capgemini.com</span>
            </p>

            <p>Role:
                <span th:text="${role}">MaxMustermann@capgemini.com</span>
            </p>

            <p>Location:
                <span th:text="${location}">default loacation</span>
            </p>

            <div class="col-md-5 p-2 mx-auto text-center">

                <div class="form-group mt-4 mb-2">
                    <a th:href="@{/editProfile}" class="btn btn-primary">Edit Profile</a>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>
