<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/rightAdministration" method="POST">
                <h4 class="pt-2" style="font-weight: bolder;
                text-decoration: underline #4B0082;">Right Administration</h4>
                <div class="form-group">
                    <label for="user">user:</label>
                    <input class="form-control" id="user" name="user" placeholder="username" type="text">
                </div>
                <div class="form-group">
                    <label for="role">Position:</label>
                    <div class="form-group">
                        <fieldset>
                            <div class="form-group">
                                <div th:each="role: ${positionList}">
                                    <input id="role" name="role" th:value="${role.getRoleName()}"
                                           type="checkbox">
                                    <label for="role" th:text="${role.getRoleName()}">
                                        Position</label>
                                    <p>Rights:</p>
                                    <fieldset>
                                        <div class="form-group">
                                            <div th:each="privileges: ${rightList}">
                                                <input id="privilege"
                                                       th:checked="${role.getPrivileges().contains(privileges)}"
                                                       th:name="${role.getRoleName()}"
                                                       th:value="${privileges.getRightName()}"
                                                       type="checkbox">
                                                <label for="privilege"
                                                       th:text="${privileges.getRightName()}">Right</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script>

</script>
</html>
