<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">

<body>
<div layout:fragment="content">
    <form th:method="post" th:action="@{/rooms}">
        <div class="alert alert-danger" role="alert" th:if="${error}">
            Bitte wählen sie einen Raum aus!
        </div>

        <div class="container">

            <div class="col-md-5 p-2 mx-auto text-center">
                <h2 style="font-size: 25px">Raum auswählen</h2>
            </div>

            <div th:each="room : ${roomList}" class="row my-2">
                <div class="col-md-6 offset-md-3 col-sm-8">
                    <h2 style="font-size: 20px" th:text="${room.roomName}">Raum</h2>
                    <p style="font-size: 15px" th:text="${'Plätze: ' + room.seats + ' | Ausstattung: ' + room.equipment}">Plätze und
                        Ausstattung</p>
                </div>
                <span class="float-right"> <!-- col-md-2 col-sm-2 mt-2 -->
                    <a class="btn btn-outline-info" th:href="@{/rooms/{id}(id=${room.roomID})}">Details</a>
                </span>
            </div>

        </div>

<!-- -------change things here--------- -->
        <div class="row my-1">
            <div class="col-2 offset-5">
                <a class="btn btn-primary btn-lg btn-block" th:href="@{/}">Meeting ändern</a>
            </div>
        </div>

        <div class="row align-bottom my-1">
            <div class="col-2 offset-md-4">
                <a class="btn btn-danger btn-lg btn-block" th:href="@{/}">Abbrechen</a>
                <!-- <button class="button" style="border-radius: 8px; background-color:
limegreen; border: none; padding: 10px 40px; font-size: 16px">Bestätigen</button> -->

            </div>
            <div class="col-2">
                <a class="btn btn-success btn-lg btn-block"
                   th:href="@{/rooms/confirm}">Bestätigen</a>
            </div>
        </div>

    </form>
</div>
</body>
</html>
