<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4 th:text="${room.roomName}">Raum</h4>
            <p th:text="${'Plätze: ' + room.seats + ' Ausstattung: ' + room.equipment}">Plätze und Ausstattung</p>
            <p th:text="${'sonstige Informationen: ' + room.roomID}">Raumnummer Lage Standort etc.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 ml-auto">
            <a class="btn btn-outline-info" th:href="@{/rooms/}">Zurück</a>
        </div>
    </div>
</div>
</body>
</html>
