<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4 th:text="${room.roomEmail}">Raum</h4>
            <p th:text="${'seats: '}">Plätze </p>
            <p th:text="${room.seats}">Plätze </p>
            <p th:text="${'other information about the room:'}"></p>
            <p th:text="${'extra seats:'}"></p>
            <p th:text="${room.expandableSeats}"></p>
            <p th:text="${'mail:'}"></p>
            <p th:text="${room.roomEmail}"></p>
            <p th:text="${'location:'}"></p>
            <p th:text="${room.location.getName()}"></p>
            <p th:text="${'equipment:'}">
                Ausstattung</p>
            <div th:each="equipment: ${equipmentList}">
                <p th:text="${equipment.getEquipmentName()}">
                    Ausstattung</p>
            </div>
            <img src="@{room.getLayoutPath()}"/>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <a class="btn btn-outline-info" th:href="@{/rooms/}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
