<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">

<body>
<div layout:fragment="content">
    <form th:method="post" th:action="@{/rooms}">
        <div class="alert alert-danger" role="alert" th:if="${error}">
            Bitte wählen sie einen Raum aus!
        </div>

        <div class="container">

            <div th:each="room : ${roomList}" class="row my-2">
                <div class="col-6 offset-md-3">
                    <h4 th:text="${room.roomName}">Raum</h4>
                    <p th:text="${'Plätze: ' + room.seats + ' | Ausstattung: ' + room.equipment}">Plätze und
                        Ausstattung</p>
                </div>
                <div class="col-2 mt-2">
                    <a class="btn btn-outline-info" th:href="@{/rooms/{id}(id=${room.roomID})}">Details</a>
                </div>
            </div>

        </div>
    </form>
</div>
</body>
</html>
