<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <div class="mt-4 mt-md-5 col-md-4 offset-md-4">
        <h2 class="text-center" th:text="|Select Rooms for &quot;${meeting.getName()}&quot;|">
            Select Rooms for Sample Meeting
        </h2>
        <form th:method="post" th:action="@{/createMeeting/confirm}" th:object="${meeting}">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('rooms')}">
                No available rooms found.
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row no-gutters">
                        <div class="col-1">
                            <i class="fas fa-signature"></i>
                        </div>
                        <div class="col-11">
                            <p class="font-weight-bold mb-0" th:text="${meeting.getName()}"></p>
                        </div>
                    </div>
                    <hr class="mt-1 mb-2">
                    <div class="row no-gutters">
                        <div class="col-1">
                            <i class="fas fa-hourglass-start"></i>
                        </div>
                        <div class="col-9" th:text="${#temporals.format(meeting.getStartDateTime(), 'dd MMM yyyy HH:mm')}">
                        </div>

                        <div class="col-2">
                            <a th:href="@{/createMeeting(offset=-60)}" class="btn btn-block btn-secondary p-0 small-important">-1h</a>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <i class="fas fa-hourglass-end"></i>
                        </div>
                        <div class="col-9" th:text="${#temporals.format(meeting.getEndDateTime(), 'dd MMM yyyy HH:mm')}">
                        </div>

                        <div class="col-2">
                            <a th:href="@{/createMeeting(offset=60)}" class="btn btn-block btn-secondary p-0 small-important">+1h</a>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <i class="fas fa-clock"></i>
                        </div>
                        <div class="col-11" th:text="|${meeting.getDuration()} minutes|">
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="col-11" th:text="${meeting.getTotalParticipants()}">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div th:each="location,iterStat : ${meeting.getLocations()}">
                        <div class="row no-gutters" >
                            <div class="col-1">
                                <i class="fas fa-globe-europe"></i>
                            </div>
                            <div class="col-11">
                                <p class="mb-0 font-weight-bold d-inline" th:text="${meeting.getLocation(location).getName()}"></p>
                                <div class="float-right">
                                    <i class="fas fa-user"></i>
                                    <p class="d-inline ml-1" th:text="${meeting.getParticipant(location)}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 px-2" th:if="${not rooms.get(location).isEmpty()}">
                            <table class="table table-sm mb-0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="pl-2" scope="col"><i class="fas fa-signature"></i></th>
                                    <th scope="col"><i class="fas fa-users"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="room : ${rooms.get(location)}">
                                    <td>
                                        <input type="checkbox" class="form-check-input ml-0" th:field="*{rooms}" th:value="${room.getRoomID()}">
                                    </td>
                                    <th scope="row" class="pl-2" th:text="${room.getRoomName()}"></th>
                                    <td th:text="${room.getSeats() + ' + ' + room.getExpandableSeats()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row no-gutters mb-2" th:unless="${not rooms.get(location).isEmpty()}">
                            <div class="col-1">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div class="col-11">
                                <p class="mb-0 d-inline">Unfortunately no rooms are available at the selected time.</p>
                            </div>
                        </div>
                        <hr class="mt-0">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
                </div>
            </div>
            <div class="form-row mt-3 mb-2">
                <div class="col-12">
                    <a th:href="@{/createMeeting}" class="btn btn-secondary btn-sm btn-block">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

</html>

<!--
<div class="modal" th:id="${room.roomID}">
    <div class="modal-dialog">
        <div class="modal-content">
            !-- Modal Header --
            <div class="modal-header">
                <h4 class="modal-title" th:text="${room.roomName}"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            !-- Modal body --
            <div class="modal-body" th:text="${room.roomID}"></div>
            !-- Modal footer --
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
-->
