<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main}">>
    <head>
        <title>Roomed - Start</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container py-3">
                <div class="page-header">
                    <h3 class="text-center">Upcomming Meetings</h3>
                </div>
                <hr>
                <p class="text-center">Today - 29. April 2019</p>
                <div class="row mb-2">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
                        <a href="" class="btn btn-primary btn-block">Sprint Meeting<br/>
                            <small>09:00 - 10:30 at Hoersaal</small>
                        </a>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
                        <a href="" class="btn btn-primary btn-block">Client Meeting<br/>
                            <small>12:00 - 12:30 at Ibiza</small>
                        </a>
                    </div>
                </div>
                <hr>
                <p class="text-center">Tomorrow - 30. April 2019</p>
                <div class="row mb-2">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
                        <a href="" class="btn btn-primary btn-block">Chairman Meeting<br/>
                            <small>16:00 - 17:00 at Korfu</small>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="mt-4 mb-2 text-center">
                    <a th:href="@{/chronik}" class="btn btn-primary">Show All Meetings</a>
                </div>
            </div>
        </div>
    </body>
</html>

