<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main}">>
<head>
    <title>Roomed - Start</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container py-3">
        <div class="page-header">
            <h3 class="text-center">Upcomming Meetings</h3>
        </div>
        <hr>
        <div class="media border-bottom pb-2 mt-1" th:each="meeting : ${meetings}">
            <img src="static/pictures/blue_200x200.png" class="rounded-circle" alt="Blue Image"
                 style="width:50px;height:50px;">
            <div class="media-body collapsed mx-2" th:data-target="${'#'+ meeting.getMeetingId()}" data-toggle="collapse">
                <h5 class="mt-0" th:text="${meeting.getTitle()}">Tolles Treffen</h5>
                <p class="small my-0"
                   th:text="${#temporals.format(meeting.getStartAt(), 'dd.MM.yyyy HH:mm')} +' | '+ ${meeting.getDuration() + 'min'}">
                    Besenkammer | Organisator: Julius Ellermann
                    <br>
                    02.05.2019 | 09:15 - 09:45</p>
                <div class="collapse" data-parent="#accordion" th:id="${meeting.getMeetingId()}">
                    <p class="small my-0" th:text="${'Owner: ' + meeting.getOwner().getFullName()}"></p>
                </div>
            </div>
        </div>
        <div class="mt-4 mb-2 text-center">
            <a th:href="@{/chronik}" class="btn btn.round btn-primary">Show All Meetings</a>
        </div>
    </div>
</div>
</body>
</html>

